.main_header {
    width: 100vw;
    height: 40px;
    border-bottom: 1px solid #6986A5;
    display: flex;
    align-items: center;
    column-gap: 1rem;
    position: fixed;
    top: 60px;
    left: 250px;
    z-index: 800;
    background-color: white;
    .main_header_item_icon {
        font-size: 24px;
    }
    .main_header_item {
        color: #0B0C0F;
        display: flex;
        align-items: center;
        cursor: pointer;
        position: relative;
        box-sizing: border-box;
        height: 100%;
        padding: 0.3rem;
        column-gap: 0.4rem;
        .title {
            font-size: 14px;
        }
        &::after {
            content: "|";
            position: absolute;
            left: calc(100% + 5px); 
        }
        &:nth-child(4n)::after {
            display: none;
        }
        &:hover {
            background-color: #f2f2f2;
            // color: #0B0C0F90;
        }
    }
}

@media screen and (max-width: 720px) {
    .main_header {
        justify-content: center;
        left: 0;
        .main_header_item {
            padding: 0;
            column-gap: unset;
            &::after {
                content: "|";
                position: absolute;
                left: calc(100% + 2px); 
            }
            .main_header_item_icon {
                font-size: 14px;
            }
            .title {
                font-size: 14px;
            }
        }
    }
}