.user {
    color: #0B0C0F;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    .user_name {
        margin-left: 0.3rem;
    }
    .user_modal {
        position: absolute;
        top: 0;
        left: 250px;
        height: auto;
        width: 100%;
        background-color: #d9e1e8;
        text-align: start;
        padding: 0.3rem;
        border-radius: 5px;
        transform: translate(-1000px);
        transition: 500ms ease;
        &::after {
            content: " ";
            width: 15px;
            height: 15px;
            background-color: #d9e1e8;
            position: absolute;
            top: 15%;
            left: -2%;
            transform: rotate(45deg);
            z-index: -1;
        }
    }
    .user_modal.active {
        transform: translateX(0);
    }
}

@media screen and (max-width: 720px) {
    .user {
        .user_modal {
            top: 50px;
            left: 0;
            border: 2px solid #6986A5;
            &::after{
                display: none;
            }
        }
    }
}